{
  "extends": [
    "opencollective"
  ],
  "env": {
    "jest": true,
  },
  "rules": {
    "react/display-name": "off",
    "no-console": "warn",
    "require-await": "warn",
    "no-constant-condition": ["warn", { "checkLoops": false }],
    "react/jsx-closing-bracket-location": ["warn", "tag-aligned"]
  }
}
