{
  "extends": "opencollective",
  "rules": {
    "react/display-name": "off",
    "no-console": "warn",
    "require-await": "warn",
    "no-extra-semi": "warn",
    "curly": "warn",
    "no-multi-spaces": "warn",
    "space-before-function-paren": [
      "warn",
      "always"
    ],
    "no-constant-condition": [
      "warn",
      {
        "checkLoops": false
      }
    ]
  }
}
