html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Inter UI', sans-serif;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.2px;
}

a {
  color: inherit;
}
a:hover {
  color: #3c0d9b;
}

button {
  font-size: 12px;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 24px;
  line-height: 28px;
  margin: 20px 0;
}
h2 {
  font-size: 20px;
  line-height: 26px;
  margin: 20px 0;
}
h3 {
  font-size: 16px;
  line-height: 24px;
  margin: 10px 0;
}

.HomePage {
  font-family: 'Fira Code', monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.Page {
  margin: 0 auto;
  min-height: 100%;
}

.button {
  color: #8800ff;
  border: 1px solid #d5dae0;
  background: white;
  border-radius: 6px;
  padding: 10px 20px;
  text-decoration: none;
}
.button:hover {
  color: #8800ff;
  border-color: #8800ff;
}
.button:active,
.button:focus {
  color: white;
  border-color: #3c0d9b;
  background-color: #3c0d9b;
}

.shareButton {
  display: inline-block;
  color: #6e747a;
  border: 1px solid #d5dae0;
  border-radius: 6px;
  padding: 10px 20px;
  margin-right: 15px;
  text-decoration: none;
}
.shareButton:hover {
  color: #8b00ff;
  border-color: #8b00ff;
}
.shareButton:active,
.shareButton:focus {
  color: white;
  border-color: #8b00ff;
  background-color: #8b00ff;
}
.shareButton .logo {
  vertical-align: -3px;
  width: 16px;
  height: 16px;
}
.shareButton .logo #main {
  fill: #c1c6cc;
}
.shareButton:hover .logo #main {
  fill: #c89bff;
}
.shareButton:active .logo #main,
.button:focus .logo #main {
  fill: white;
}

.actionButton {
  display: inline-block;
  padding: 4px 8px;
  margin-right: 15px;
  text-decoration: none;
  cursor: pointer;
  color: #8800ff;
  background: #f1eef8;
  border: 1px solid #f1eef8;
  border-radius: 6px;
}
.actionButton:hover {
  color: #8800ff;
  border-color: #8800ff;
}
.actionButton:active,
.actionButton:focus {
  color: white;
  border-color: #8800ff;
  background: #8800ff;
}

.bigButton {
  display: block;
  text-align: center;
  text-decoration: none;
  border: 0;
  border-radius: 8px;
  padding: 13px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  background-color: #3f00a5;
  -webkit-appearance: none;
}
.bigButton:hover {
  color: white;
  background-color: #8b00ff;
}
.bigButton:active {
  background-color: #6400ce;
}
.bigButton:disabled {
  background-color: #d1c2ea;
}

.bigButton .logo {
  vertical-align: -5px;
  padding-right: 10px;
  width: 22px;
  height: 22px;
}
.bigButton .logo #main {
  fill: white;
}

.navigation {
  background-color: #f7f8fa;
  padding: 20px 56px;
  position: relative;
}

.navigation h1 {
  margin: 0;
  padding: 0;
  color: #2e3033;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: -0.4px;
  line-height: 36px;
}
.navigation-items {
  position: absolute;
  left: 380px;
  bottom: -1px;
  white-space: nowrap;
}
.navigation-items a {
  color: #2e2e99;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 0.8px;
  line-height: 16px;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
  margin-right: 40px;
  padding-bottom: 20px;
}
.navigation-items a.active,
.navigation-items a:hover {
  color: #2e2e99;
  border-color: #2e2e99;
}

aside {
  width: 250px;
  padding: 45px 60px;
  position: absolute;
}

main {
  width: 70%;
  padding: 45px 0;
  position: absolute;
  left: 380px;
  padding-right: 60px;
}

@media screen and (max-width: 500px) {
  .navigation {
    padding: 0;
  }
  .navigation h1 {
    text-align: center;
    padding: 20px;
    width: auto;
  }
  .navigation-items {
    position: static;
    box-sizing: border-box;
    width: 100%;
    padding-left: 20px;
    overflow: scroll;
    display: none;
  }

  aside {
    position: static;
    width: auto;
    margin: 0;
    padding: 20px;
  }
  main {
    position: static;
    width: auto;
    margin: 0;
    padding: 20px;
  }
}
