html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Inter UI', sans-serif;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.2px;
}

button {
  font-size: 12px;
}

h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.6em;
}
.Page {
  margin: 0 auto;
  min-height: 100%;
}
a {
  color: inherit;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}

.actionButton {
  display: inline-block;
  padding: 4px 8px;
  margin-right: 15px;
  text-decoration: none;
  cursor: pointer;
  color: #8800ff;
  background: #f1eef8;
  border: 1px solid #f1eef8;
  border-radius: 6px;
}
.actionButton:hover {
  border-color: #8800ff;
}
.actionButton:active, .actionButton:focus {
  color: white;
  border-color: #8800ff;
  background: #8800ff;
}

.bigButton {
  display: block;
  text-align: center;
  text-decoration: none;
  border: 0;
  border-radius: 8px;
  padding: 13px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  background-color: #3f00a5;
}
.bigButton:hover {
  background-color: #8b00ff;
}
.bigButton:active {
  background-color: #6400ce;
}
.bigButton:disabled {
  background-color: #d1c2ea;
}

.navigation {
  background-color: #f7f8fa;
  padding: 20px 56px;
  position: relative;
}
.navigation h1 {
  margin: 0;
  padding: 0;
  color: #2E3033;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: -0.4px;
  line-height: 36px;
}
.navigation-items {
  position: absolute;
  left: 380px;
  bottom: -1px;
}
.navigation-items a {
  color: #2E2E99;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 0.8px;
  line-height: 16px;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
  margin-right: 40px;
  padding-bottom: 20px;
}
.navigation-items a.active, .navigation-items a:hover {
  border-color: #2E2E99;
}

aside {
  width: 250px;
  padding: 45px 60px;
  position: absolute;
}

main {
  padding: 45px 0;
  padding-right: 56px;
  position: absolute;
  left: 380px;
}
